<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="VPOS:Directory" value="D:\Proyectos\EcuaNexus\ECUAFACT_2019\Ecuafact.Web\Ecuafact.Web\VPOS\"/>
    
    <!--DESARROLLO-->
    <add key="VPOS:Settings" value="VPOS_Development.json"/>
    
    <!--PRODUCCION-->
    <!--
    <add key="VPOS:Settings" value="VPOS_Production.json"/>
    -->
  
  </appSettings>
</configuration>