[*.cs]

# CA2007: Puede llamar a ConfigureAwait en la tarea esperada
dotnet_diagnostic.CA2007.severity = none

# CA3147: Marcar los controladores de verbos con validación de token antifalsificación
dotnet_diagnostic.CA3147.severity = none
