<div class="kt-heading kt-heading--md">Notificaciones</div>

<div class="kt-form__section kt-form__section--first">
         <div class="kt-form__body">
            <div class="kt-section kt-section--first">
                <div class="kt-section__body">
                    <div class="row">
                        <label class="col-xl-3"></label>
                        <div class="col-lg-9 col-xl-6">
                            <h3 class="kt-section__title kt-section__title-sm">Setup Email Notification:</h3>
                        </div>
                    </div>
                    <div class="form-group form-group-sm row">
                        <label class="col-xl-3 col-lg-3 col-form-label">Email Notification</label>
                        <div class="col-lg-9 col-xl-6">
                            <span class="kt-switch">
                                <label>
                                    <input type="checkbox" checked="checked" name="email_notification_1">
                                    <span></span>
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="form-group form-group-last row">
                        <label class="col-xl-3 col-lg-3 col-form-label">Send Copy To Personal Email</label>
                        <div class="col-lg-9 col-xl-6">
                            <span class="kt-switch">
                                <label>
                                    <input type="checkbox" name="email_notification_2">
                                    <span></span>
                                </label>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="kt-separator kt-separator--border-dashed kt-separator--portlet-fit kt-separator--space-lg"></div>

            <div class="kt-section kt-section--first">
                <div class="kt-section__body">
                    <div class="row">
                        <label class="col-xl-3"></label>
                        <div class="col-lg-9 col-xl-6">
                            <h3 class="kt-section__title kt-section__title-sm">Activity Related Emails:</h3>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label">When To Email</label>
                        <div class="col-lg-9 col-xl-6">
                            <div class="kt-checkbox-list">
                                <label class="kt-checkbox">
                                    <input type="checkbox"> You have new notifications.
                                    <span></span>
                                </label>
                                <label class="kt-checkbox">
                                    <input type="checkbox"> You're sent a direct message
                                    <span></span>
                                </label>
                                <label class="kt-checkbox">
                                    <input type="checkbox" checked="checked"> Someone adds you as a connection
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-group-last row">
                        <label class="col-xl-3 col-lg-3 col-form-label">When To Escalate Emails</label>
                        <div class="col-lg-9 col-xl-6">
                            <div class="kt-checkbox-list">
                                <label class="kt-checkbox kt-checkbox--brand">
                                    <input type="checkbox"> Upon new order.
                                    <span></span>
                                </label>
                                <label class="kt-checkbox kt-checkbox--brand">
                                    <input type="checkbox"> New membership approval
                                    <span></span>
                                </label>
                                <label class="kt-checkbox kt-checkbox--brand">
                                    <input type="checkbox" checked="checked"> Member registration
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

 
    </div>
</div>