@model Ecuafact.Web.Domain.Entities.API.PasswordModel
@{
    Layout = "~/Views/Shared/_Auth.cshtml";

    ViewBag.Title = "Cambiar Contraseña";
    ViewBag.ShowAds = false;
    ViewBag.ContentWidth = "500px";

    var login = SessionInfo.LoginInfo ?? new Ecuafact.Web.Domain.Entities.API.LoginResponseModel()
    {
        UserInfo = new Ecuafact.Web.Domain.Entities.API.ClientModel()
        {
            Username = "***********",
            Name = "***********"
        }
    };
}

@using (Html.BeginForm("ChangePassword", "Auth", FormMethod.Post, new { id = "formCambiarContrasena", @class = "password-form", @autocomplete = "off" }))
{
    <style>
        .tooltip {
            position: relative;
            display: inline-block;
            border-bottom: 1px dotted black;
        }

            .tooltip .tooltiptext {
                visibility: hidden;
                width: 120px;
                background-color: black;
                color: #fff;
                text-align: center;
                border-radius: 6px;
                padding: 5px 0;
                /* Position the tooltip */
                position: absolute;
                z-index: 1;
            }

            .tooltip:hover .tooltiptext {
                visibility: visible;
            }
    </style>
    <div class="kt-login__form">


        <div class="kt-portlet__head" style="margin-bottom:20px;">
            <center>
                <h1>CAMBIAR CONTRASE&Ntilde;A</h1>
            </center>
        </div>


        <div class="kt-portlet__body">

            <div class="kt-section kt-section--first">

                <div class="kt-section__body">



                    <!-- BEGIN FORGOT PASSWORD FORM  -->
                     

                    @Html.HiddenFor(model => model.UniqueId)
                    @if (SessionInfo.SecurityToken == Model.UniqueId)
                    {
                        <div class="form-group yellow-gold"> <b>Usuario:</b> @login.UserInfo.Username  </div>
                        <div class="form-group yellow-gold"> <b>Nombre:</b> @login.UserInfo.Name  </div>

                        <p>Por favor escriba su contrase&ntilde;a actual: </p>

                        <div class="form-group">
                            <div class="kt-input-icon kt-input-icon--right">
                                <span class="kt-input-icon__icon kt-input-icon__icon--right">
                                    <span>
                                        <i class="fa fa-lock"></i>
                                    </span>
                                </span>
                                <input class="form-control  form-control-pill placeholder-no-fix" type="password" autocomplete="new_password1" placeholder="Contraseña Actual" name="Password" id="current_password" />
                            </div>
                        </div>

                    }


                    <p>Ingrese su nueva contrase&ntilde;a: </p>

                    <div class="form-group">
                        <div class="kt-input-icon kt-input-icon--right">
                            <span class="kt-input-icon__icon kt-input-icon__icon--right">
                                <span>
                                    <i class="fa fa-lock"></i>
                                </span>
                            </span>
                            <input class="form-control form-control-pill placeholder-no-fix" type="password" autocomplete="new_password2" placeholder="Nueva Contraseña" name="NewPassword" id="new_password" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="kt-input-icon kt-input-icon--right">
                            <span class="kt-input-icon__icon kt-input-icon__icon--right">
                                <span>
                                    <i class="fa fa-lock"></i>
                                </span>
                            </span>
                            <input class="form-control form-control-pill placeholder-no-fix" type="password" autocomplete="new_password3" placeholder="Repita Nueva Contraseña" name="NewPassword2" id="new_password2" />
                        </div>
                    </div> 
                    <!-- END FORGOT PASSWORD FORM -->


                </div>
            </div>
        </div>

        <div class="kt-portlet__foot">
            <center>
                <div class="form-actions" style="margin: 30px 0;  ">

                    <button type="button" class=" btn btn-brand btn-pill btn-elevate " id="backbutton" data-toggle="tooltip" title="Atras">

                        <i class="flaticon2-reply"></i> Atr&aacute;s

                    </button>

                    <button type="submit" id="btnactulizar" class="btn btn-outline-danger btn-pill btn-elevate  ">

                        Cambiar <i class="flaticon2-check-mark"></i>

                    </button>

                </div>
            </center>
        </div>
    </div>
    
}



@section scripts{
    <script>
    $(document).ready(function () {
        Login.initPassword();

        $('.change-form').submit(function (e) {

            if (!$('.change-form').validate().valid()) {
                toastr.error("Debe completar con los datos de la cuenta!");
                e.preventDefault();
                return false;
            }

            return true;
        });


        $("#backbutton").click(function () {
            location.assign("@Url.Action("Index", "Auth")");
        });
    });
    </script>


}
