<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WalletCommerceSOAP">
          <security mode="Transport" />
        </binding>
        <binding name="WalletCommerceSOAP2" />
        <binding name="WalletCommerceSOAP3">
          <security mode="Transport" />
        </binding>
        <binding name="WalletCommerceSOAP4" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WalletCommerceSOAP">
          <security mode="Transport" />
        </binding>
        <binding name="WalletCommerceSOAP1" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://integracion.alignetsac.com/WALLETWS/services/WalletCommerce"
        binding="basicHttpBinding" bindingConfiguration="WalletCommerceSOAP2"
        contract="WalletService.WalletCommerce" name="WalletCommerceSOAP" />
      <endpoint address="https://integracion.alignetsac.com/WALLETWS/services/WalletCommerce/"
        binding="basicHttpBinding" bindingConfiguration="WalletCommerceSOAP3"
        contract="WalletService.WalletCommerce" name="WalletCommerceSOAP1" />
    </client>
  </system.serviceModel>
  <appSettings>
    
    <!-- CLAVE SECRETA WALLET SERVICE -->
    <add key="VPOS2:WALLET:FILE" value="PASSWORD_COM_10184_WALLET_201909061232"/>
    
    <!-- CLAVE SECRETA MODAL SERVICE -->
    <add key="VPOS2:PASARELA:FILE" value="PASSWORD_COM_10184_PASARELA_201909061232"/>
    
    <!-- CONFIGURACION PREDETERMINADA DE VPOS2 -->
    <add key="VPOS2:IDCommerceCode" value="10184"/>
    <add key="VPOS2:IDCommerceMall" value="000001"/>
    <add key="VPOS2:IDAcquirer" value="8"/>
    <add key="VPOS2:IDWalletCode" value="2513"/>
    <add key="VPOS2:TerminalNumber" value="000001"/>
    
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
