 
<table id="adicional-items" class="table table-responsive table-adicional table-hover table-striped table-condensed cf">
    <thead>
        <tr>
            <th>Detalle</th>
            <th width="38"></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
        <tr>
            <td align="left" colspan="3">
                <div class="col-xs-12" align="left">
                    <button id="addDetalleButton" name="addDetalleButton" type='button' class='add-row btn btn-outline blue' onclick="agregarAditional()"> Agregar <i class='fa fa-plus'></i></button>
                </div>



                <datalist id="list-references">
                    <option>Email</option>
                    <option>Direccion</option>
                    <option>Contacto</option>
                    <option>Telefono</option>
                    <option>Chofer</option>
                    <option>Entregado por</option>
                    <option>Solicitante</option>
                    <option>Documento</option>
                    <option>Referencia</option>
                    <option>Recibido por</option>
                    <option>Destinatario</option>
                    <option>Destino</option>
                    <option>Estado</option>
                </datalist>


                <script type="text/javascript">
                    // Declaracion de variables usados en los calculos

                </script>

            </td>

        </tr>
    </tfoot>
</table>