<!-- begin:: Aside Menu -->
<div class="kt-aside-menu-wrapper kt-grid__item kt-grid__item--fluid" id="kt_aside_menu_wrapper">
    <div id="kt_aside_menu" class="kt-aside-menu " data-ktmenu-vertical="1" data-ktmenu-scroll="1" data-ktmenu-dropdown-timeout="500" style="height: 546px;overflow: scroll;">
        <ul class="kt-menu__nav ">

            <li class="kt-menu__item " aria-haspopup="true">
                <a href="~/" class="kt-menu__link ">
                    <span class="kt-menu__link-icon">
                        <i class="flaticon-home-2"></i>
                    </span><span class="kt-menu__link-text">Inicio</span>
                </a>
            </li>



            <li class="kt-menu__section ">
                <h4 class="kt-menu__section-text">Documentos</h4>
            </li>

            <li class="kt-menu__item " aria-haspopup="true">
                <a href="~/Comprobantes/Recibidos" class="kt-menu__link ">
                    <span class="kt-menu__link-icon">
                        <i class="la la-inbox"></i>
                    </span><span class="kt-menu__link-text">Recibidos</span>
                </a>
            </li>

            <li class="kt-menu__item " aria-haspopup="true">
                <a href="~/Comprobantes/Emitidos" class="kt-menu__link ">
                    <span class="kt-menu__link-icon">
                        <i class="flaticon2-paper-plane"></i>
                    </span><span class="kt-menu__link-text">Emitidos</span>
                </a>
            </li>

            <li class="kt-menu__item " aria-haspopup="true">
                <a href="~/Comprobantes/Borradores" class="kt-menu__link ">
                    <span class="kt-menu__link-icon">
                        <i class="flaticon2-file-2"></i>
                    </span><span class="kt-menu__link-text">Borradores</span>
                </a>
            </li>

            <li class="kt-menu__separator ">

            </li>

            <li class="kt-menu__item " aria-haspopup="true">
                <a href="~/Gastos" class="kt-menu__link ">
                    <span class="kt-menu__link-icon">
                        <i class="la la-money"></i>
                    </span><span class="kt-menu__link-text">Mis Gastos</span>
                </a>
            </li>

            <li class="kt-menu__item " aria-haspopup="true">
                <a href="~/Presupuestos" class="kt-menu__link ">
                    <span class="kt-menu__link-icon">
                        <i class="flaticon2-check-mark"></i>
                    </span><span class="kt-menu__link-text">Presupuestos</span>
                </a>
            </li>
            <li class="kt-menu__separator ">

            </li>
            <li class="kt-menu__item " aria-haspopup="true">
                <a href="~/Producto" class="kt-menu__link ">
                    <span class="kt-menu__link-icon">
                        <i class="flaticon2-shopping-cart"></i>
                    </span><span class="kt-menu__link-text">Productos</span>
                </a>
            </li>

            <li class="kt-menu__item " aria-haspopup="true">
                <a href="~/Contribuyentes" class="kt-menu__link ">
                    <span class="kt-menu__link-icon">
                        <i class="flaticon2-user-1"></i>
                    </span><span class="kt-menu__link-text">Contribuyentes</span>
                </a>
            </li>

            <li class="kt-menu__separator ">

            </li>

            <li class="kt-menu__item " aria-haspopup="true">
                <a href="~/Config" class="kt-menu__link ">
                    <span class="kt-menu__link-icon">
                        <i class="flaticon2-gear"></i>
                    </span><span class="kt-menu__link-text">Configuración</span>
                </a>
            </li>

        </ul>
    </div>
</div>

<!-- end:: Aside Menu -->