<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!--Base de Datos Local-->
  <!--<add name="EcuafactExpressApiDb" connectionString="Data Source=localhost; Initial Catalog=EcuafactExpress; user id=sa; password='Ecuanenexus15487#'" providerName="System.Data.SqlClient" />-->

  <!--SERVIDOR DESARROLLO-->
  <!--<add name="EcuafactExpressApiDb" connectionString="Data source=nube.ecuafact.com,54639; Initial Catalog=EcuafactExpress; user id=sa; password='Ecuanenexus15487#'" providerName="System.Data.SqlClient" />-->

  <!--ECUANEXUS-->
  <!--<add name="EcuafactExpressApiDb" connectionString="Data Source=nube.ecuafact.com; Initial Catalog=EcuanexusExpress; user id=sa; password='AppEcuanexus76#'" providerName="System.Data.SqlClient" />-->

  <!--PRODUCCION-->
  <add name="EcuafactExpressApiDb" connectionString="Data Source=nube.ecuafact.com; Initial Catalog=Express; user id=sa; password='AppEcuanexus76#'" providerName="System.Data.SqlClient" />
  <add name="EcuafactEngineApiDb" connectionString="Data Source=nube.ecuafact.com; Initial Catalog=ExpressGeneral; user id=sa; password='AppEcuanexus76#'" providerName="System.Data.SqlClient" />
  <add name="EcuafactAppServiceDb" connectionString="Data source=nube.ecuafact.com,54639; Initial Catalog=EcuafactAPP; user id=sa; password='Ecuanenexus15487#'" providerName="System.Data.SqlClient" />

</connectionStrings>
