
<table id="adicional-items" class="table kt-datatable__table table-adicional table-hover table-striped table-condensed cf">
    <tbody></tbody>
    <tfoot> 
        <tr> 
            <td align="left" colspan="3"> 
                <div class="row">  
                    <div class="col-12" align="left">  
                        <button id="addDetalleButton" name="addDetalleButton" type='button' class='add-row btn text-light btn-outline' style="background-color:#0742A8" onclick="agregarAditional()"> Agregar <i class='fa fa-plus'></i></button>
                    </div>
                </div> 
            </td> 
        </tr>
    </tfoot>
</table>

<datalist id="list-references">

    <option>Email</option>
    <option>Direccion</option>
    <option>Contacto</option>
    <option>Telefono</option>
    <option>Chofer</option>
    <option>Entregado por</option>
    <option>Solicitante</option>
    <option>Documento</option>
    <option>Referencia</option>
    <option>Recibido por</option>
    <option>Destinatario</option>
    <option>Destino</option>
    <option>Estado</option>

</datalist>
