<?xml version="1.0" encoding="utf-8"?>
<appSettings>
 
  <add key="Ecuafact:DevelopmentMode" value="0" />
  
  <!-- WEB API INTEGRATION SERVICES -->
  <add key="Ecuafact:WebApiUrl" value="https://api.ecuafact.com/v3" />
  <add key="Ecuafact:ServiceToken" value="cb365702-e1c4-4980-b598-dc0e49366717" />

  <!-- URL WEB APP -->
  <add key="Ecuafact:WebApp" value="https://localhost:44311/"/>
  
  <!-- ECUANEXUS SERVICES-->
  <!--<add key="Ecuafact:NexusUrl" value="https://apides.ecuafact.com/v3/"/>-->	<!--https://apides.ecuafact.com/v3/-->
  <add key="Ecuafact:NexusUrl" value="https://localhost:44347"/>
  <add key="Ecuafact:NexusToken" value="1a397e3c-41e4-4169-b5aa-815c62088ffa-0992882549001"/>	
  <!--<add key="Ecuafact:NexusToken" value="8011d4ae-8de1-44be-9169-45624de6abef-0123456789001"/>-->
  <!--33A08B05-0E2C-47F6-B0A1-D0F50F7A7850-->
	
 
  
  <!--MOBILE APPLICATION SERVICES-->
  <add key="Ecuafact:AppToken" value="7z#Yp@" />  <!--"4522","94b25fc1-0392-4979-ab13-57da097d8bc1"-->
  <add key="Ecuafact:ServiceUrl" value="https://api.ecuafact.com/appdev/v1/Service.svc" />
  <!--<add key="Ecuafact:ServiceIssueUrl" value="http://api.ecuafact.com/appdev/apiEmi/ApiEmisionService.svc" />-->
  <add key="Ecuafact:ServiceIssueUrl" value="http://localhost:54373/ApiEmisionService.svc" />
  <add key="Ecuafact:EngineLocation" value="C:\TMP\SERVICES"/>
  <add key="Ecuafact:EngineLocation2" value="C:\TMP\SERVICES2"/>
  <add key="Ecuafact:XMLFilesLocation" value="C:\TMP"/>
  <add key="Ecuafact:PDFSaleNoteFilesLocation" value="d:\XML_DECLARACIONES_APIDEV\RECIBIDOS_NV"/>
  <add key="Ecuafact:CodFactorChequeoPonderadoerico" value="98469511"/>

	
  
  <!--Ubicacion de los recursos-->
  <add key="Ecuafact:ResourcesLocation" value="C:\TMP\RESOURCES"/>
  
  <!--Configuracion del Log-->
  <add key="Ecuafact:EnableLog" value="true"/>
  <add key="Ecuafact:LogLocation" value="C:\TMP\LOGS"/>


	<!--Configuracion del Correo produccion-->
	<!--<add key = "Ecuafact:Email:SenderName" value = "Ecuafact App" />
	<add key = "Ecuafact:Email:SenderAddress" value = "info@ecuafact.com" />
	<add key = "Ecuafact:Email:SmtpServer" value ="smtp.sendgrid.net"/>
	<add key = "Ecuafact:Email:Username" value ="apikey"/>
	<add key = "Ecuafact:Email:Password" value ="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"/>
	<add key = "Ecuafact:Email:Port" value = "25"/>
	<add key = "Ecuafact:Email:EnableSSL" value ="0"/>
	<add key = "Ecuafact:Email:DefaultCredentials" value ="0"/>-->
  
	  <!--Configuracion del Correo-->
	  <!--<add key = "Ecuafact:Email:SenderName" value = "Ecuafact App" />
	  <add key = "Ecuafact:Email:SenderAddress" value = "noreply@ecuafact.com" />
	  <add key = "Ecuafact:Email:SmtpServer" value ="email-smtp.us-east-1.amazonaws.com"/>
	  <add key = "Ecuafact:Email:Username" value ="AKIA2C7SD5Q23XWEHP4C"/>
	  <add key = "Ecuafact:Email:Password" value ="BB/XA5foexBEofn6vJq94//0FotPm3lcX0t30OZ/KjIm"/>
	  <add key = "Ecuafact:Email:Port" value = "587"/>
	  <add key = "Ecuafact:Email:EnableSSL" value ="1"/>
	  <add key = "Ecuafact:Email:DefaultCredentials" value ="0"/>-->

	<!--587 25 465-->
	<!--info@ecuafact.com-->
	<add key = "Ecuafact:Email:SenderName" value = "Ecuafact App" />
	<add key = "Ecuafact:Email:SenderAddress" value = "info@ecuafact.com" />
	<add key = "Ecuafact:Email:SmtpServer" value ="smtp.sendgrid.net"/>
	<add key = "Ecuafact:Email:Username" value ="apikey"/>
	<add key = "Ecuafact:Email:Password" value ="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"/>
	<add key = "Ecuafact:Email:Port" value = "25"/>
	<add key = "Ecuafact:Email:EnableSSL" value ="0"/>
	<add key = "Ecuafact:Email:DefaultCredentials" value ="0"/>
	<add key = "Ecuafact:Apikey" value ="LhiIeVaxlR5cf965164d23b0Fot/KjImPm3lcX0t30OZ"/>
	<add key = "Ecuafact:Uid" value ="4522"/>



	<!--Codigo del paln Basic Y PRO-->
	<add key="Ecuafact:PlanBasic" value="L01"/>
	<add key="Ecuafact:PlanPro" value="L03"/>
	<add key="Ecuafact:AmountDocIlimitado" value="0000000000"/>


	<!--Informacion de encriptacion-->
  <add key="EncryptionKeys:PasswordHash" value="3cu4n3xu5@3cu4d0r"/>
  <add key="EncryptionKeys:SaltKey" value="3CU4;F4C7@1854665448721"/>
  <add key="EncryptionKeys:VIKey" value="@5X,3c2/D7e9a*3g2Z5"/>

  <!--PROCESADOR DE FIRMA ELECTRONICA -->
  <add key="ElectronicSign:Price" value="19,90"/>

  <!--VALOR SUSCRIPCION-->
  <add key="Subscription:Price" value="29,90"/>

  <!--CORREOS DE NOTIFICACION TRANSFERENCIA BANCARIA -->
 <add key="email:notification" value="ing.waltercoronel@gmail.com,wcoronel@ecuanexus.com"/>

	<!--FIRMA ELECTRONICA-->
	<add key="ElectronicSign:Proveedor" value="2"/><!--Proveedores: 1-> GSV, 2-> Uanataca-->
	<add key="ElectronicSign:ProcessStatusUrl" value="https://api.uanataca.ec/v4/consultarEstado"/>
	<!--<add key="ElectronicSign:ProcessorUrl" value="https://unatacarequestforward.azurewebsites.net/v4/solicitud"/>-->
	<add key="ElectronicSign:ProcessorUrl" value="https://api.uanataca.ec/v4/solicitud"/>
	<add key="ElectronicSign:Token" value="LhiIeVaxlR5cf965164d23b0Fot/KjImPm3lcX0t30OZ"/>
	

	<!--PRUEBAS-->
	<!--<add key="ElectronicSign:APIKEY" value="hSD73nV6jhk8dg2JHgcjl@fqxj8WjeOFCPAjhekL7sn3"/>
	<add key="ElectronicSign:UID" value="797979"/>-->

	<!--PRODUCCION-->
	<!--<add key="ElectronicSign:APIKEY" value="ERqjasdfkjlKJLH89234thJHVhgvsdfl[7hG@hgfdjklDFPs2"/>
	<add key="ElectronicSign:UID" value="9"/>-->

	<add key="ElectronicSign:APIKEY" value="ERqjasdfkjlKJLH89234thJHVhgvsdfl[7hG@hgfdjklDFPs2"/>
	<add key="ElectronicSign:UID" value="39"/>

	<!--REPORTES-->
	<add key="Ecuafact:viewsSalesReport" value="0"/>


  
  <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
  <!-- URL VPOS2 REST SERVICE -->
  <add key="VPOS2:API:URL" value="https://vpayment.verifika.com/VPOS2/rest" />
  <add key="VPOS2:API:TESTURL" value="https://integracion.alignetsac.com/VPOS2/rest" />

  <!-- CLAVE SECRETA WALLET SERVICE -->
  <add key="VPOS2:WALLET:URL" value="https://www.pay-me.pe/WALLETWS/services/WalletCommerce"/>
  <add key="VPOS2:WALLET:TESTURL" value="https://integracion.alignetsac.com/WALLETWS/services/WalletCommerce"/>
  <add key="VPOS2:WALLET:FILE" value="PASSWORD_COM_12070_WALLET_201910241650" />

  <!-- CLAVE SECRETA MODAL SERVICE -->
  <add key="VPOS2:PASARELA:FILE" value="PASSWORD_COM_12070_PASARELA_201910241650" />

  <!-- CONFIGURACION PREDETERMINADA DE VPOS2 -->
  <add key="VPOS2:IDCommerceCode" value="12070" />
  <add key="VPOS2:IDCommerceMall" value="000001" />
  <add key="VPOS2:IDAcquirer" value="8" />
  <add key="VPOS2:IDWalletCode" value="1638" />
  <add key="VPOS2:TerminalNumber" value="000001" />


   <!-- CODIGO COMMERCE VPAYMENT-VERIFIKA-WALLET-->
   <add key="COMMERCE:VpaymentVerifikaWallet" value="EC-00002" />

	<!-- CODIGO COMMERCE VPAYMENT-VERIFIKA-WALLET-->
	<add key="COMMERCE:ALIGNET" value="EC-00002" />
	<add key="COMMERCE:Paymentez" value="EC-00001" />
</appSettings>
