<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
 
  <!--DESARROLLO-->

	<!--<add name="EcuafactAppServiceDb" connectionString="Data source=WC-8409; Initial Catalog=EcuafactAPP; user id=sa; password='12345'; Trusted_Connection=True;" providerName="System.Data.SqlClient" />-->
	<add name="EcuafactAppServiceDb" connectionString="Data source=nube.ecuafact.com,54639; Initial Catalog=EcuafactAPP; user id=sa; password='Ecuanenexus15487#';" providerName="System.Data.SqlClient" />
	<add name="EcuafactSRIServiceDb" connectionString="Data source=WC-8409; Initial Catalog=CatastroSRI;user id=sa; password='Ecuanenexus15487#'; Trusted_Connection=True;" providerName="System.Data.SqlClient" />
	<add name="EcuafactExpressApiDb" connectionString="Data Source=WC-8409; Initial Catalog=Express; user id=sa; password='12345'; Trusted_Connection=True;" providerName="System.Data.SqlClient" />
	<!--<add name="EcuafactExpressApiDb" connectionString="Data Source=nube.ecuafact.com; Initial Catalog=Express; user id=sa; password='AppEcuanexus76#';" providerName="System.Data.SqlClient" />-->
	<add name="EcuafactEngineApiDb" connectionString="Data Source=WC-8409; Initial Catalog=ExpressGeneral; user id=sa; password='12345'; Trusted_Connection=True;" providerName="System.Data.SqlClient" />
	<add name="EcuafactEngineApiDb2" connectionString="Data Source=WC-8409; Initial Catalog=ExpressGeneral2; user id=sa; password='12345'; Trusted_Connection=True;" providerName="System.Data.SqlClient" />
	
</connectionStrings>
