<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AutorizacionComprobantesServiceSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="AutorizacionComprobantesServiceSoapBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://cel.sri.gob.ec/comprobantes-electronicos-ws/AutorizacionComprobantes"
                binding="basicHttpBinding" bindingConfiguration="AutorizacionComprobantesServiceSoapBinding"
                contract="ServiceReference1.AutorizacionComprobantes" name="AutorizacionComprobantesPort" />
        </client>
    </system.serviceModel>
</configuration>