@model Ecuafact.Web.Domain.Entities.DashboardInfo
<!-- BEGIN STATISTICAL GRAPHS -->
<div class="portlet light bordered">
    <div class="portlet-title tabbable-line">
        <div class="caption">
            <i class="fa fa-bar-chart-o font-red"></i>
            <span class="caption-subject font-red bold uppercase">EMITIDOS</span><br />
            <span class="caption-helper">Graficos Estad&iacute;sticos de sus documentos emitidos</span>
        </div>
         
    </div>
    <div class="portlet-body">
         
        <div id="statistics_1" class="chart" style="padding: 0px; position: relative;"></div>

        <div class="well margin-top-20">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-6 text-stat text-center">
                    <span class="label label-success"> Facturas: </span>
                    <h3 id="statistics_1factura">@Model.TotalSales.ToString("c", new System.Globalization.CultureInfo("en-US"))</h3>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6 text-stat text-center">
                    <span class="label label-info"> Notas de Credito: </span>
                    <h3 id="statistics_1notacredito">@Model.TotalCredits.ToString("c", new System.Globalization.CultureInfo("en-US"))</h3>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6 text-stat text-center">
                    <span class="label label-danger"> Retenciones: </span>
                    <h3 id="statistics_1retencion">@Model.TotalRetentions.ToString("c", new System.Globalization.CultureInfo("en-US"))</h3>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6 text-stat text-center">
                    <span class="label label-warning"> Guias de Remisi&oacute;n: </span>
                    <h3 id="statistics_1guia">@Convert.ToInt64(Model.TotalReferrals) UNDS</h3>
                </div>
            </div>
        </div>
    </div>
              
</div>
<!-- END STATISTICAL GRAPHS -->
 