 <!-- Begin: ULTIMOS DOCUMENTOS EMITIDOS -->
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-doc font-blue"></i>
                <span class="caption-subject font-blue bold uppercase">EMITIDOS</span>
                <span class="caption-helper">Documentos</span>
            </div>
            <div class="actions">
                <div class="btn-group">
                    <a class="btn green btn-circle btn-sm" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <i class="fa fa-gear"></i>

                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li>
                            <a href="@Url.Action("Configuracion","Emisor")">
                                <i class="fa fa-gear"></i>
                                Configurar...
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="portlet-body">
            <div class="tabbable-line">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#emitidos_facturas" data-toggle="tab"> Facturas </a>
                    </li>
                    <li>
                        <a href="#emitidos_notascredito" data-toggle="tab"> Notas de Credito </a>
                    </li>
                    <li>
                        <a href="#emitidos_retenciones" data-toggle="tab"> Retenciones </a>
                    </li>
                    <li>
                        <a href="#emitidos_guiasremision" data-toggle="tab"> Guias de Remision </a>
                    </li>


                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="emitidos_facturas">
                        <div class="table-responsive">
                            <table id="table_emitidos_facturas" class="table table-striped responsive table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th> No. </th>
                                        <th> Detalle </th>
                                        <th> Fecha </th>
                                        <th> Total </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="emitidos_notascredito">
                        <div class="table-responsive" style="width:100%">
                            <table id="table_emitidos_notascredito" class="table table-striped responsive table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th> No. </th>
                                        <th> Detalle </th>
                                        <th> Fecha </th>
                                        <th> Total </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="emitidos_retenciones">
                        <div class="table-responsive" style="width:100%">
                            <table id="table_emitidos_retenciones" class="table table-striped responsive table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th> No. </th>
                                        <th> Detalle </th>
                                        <th> Fecha </th>
                                        <th> Total </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="emitidos_guiasremision">
                        <div class="table-responsive" style="width:100%">
                            <table id="table_emitidos_guiasremision" class="table table-striped responsive table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th> No. </th>
                                        <th> Detalle </th>
                                        <th> Fecha </th>
                                        <th> Total </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- End: DOCUMENTOS EMITIDOS -->
