<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Ecuafact.WebAPI.Dal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  
  <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <Ecuafact.WebAPI.Dal.Properties.Settings>
      <setting name="PasswordHash" serializeAs="String">
        <value />
      </setting>
      <setting name="SaltKey" serializeAs="String">
        <value />
      </setting>
      <setting name="VIKey" serializeAs="String">
        <value />
      </setting>
    </Ecuafact.WebAPI.Dal.Properties.Settings>
  </applicationSettings>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.ApplicationInsights" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-2.9.1.0" newVersion="2.9.1.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
<connectionStrings>
  <add name="EcuafactAPPEntities" connectionString="metadata=res://*/Core.EcuafactAppDataModel.csdl|res://*/Core.EcuafactAppDataModel.ssdl|res://*/Core.EcuafactAppDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=52.173.194.245,54639;initial catalog=EcuafactAPP;persist security info=True;user id=sa;password=Ecuanenexus15487#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="EcuafactEngineEntities" connectionString="metadata=res://*/Core.EcuafactEngineModel.csdl|res://*/Core.EcuafactEngineModel.ssdl|res://*/Core.EcuafactEngineModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=nube.ecuafact.com;initial catalog=EcuafactPruebas;persist security info=True;user id=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="Ecuafact.WebAPI.Dal.Properties.Settings.EcuafactPruebasConnectionString" connectionString="Data Source=nube.ecuafact.com;Initial Catalog=EcuafactPruebas;User ID=sa" providerName="System.Data.SqlClient" />
</connectionStrings></configuration>