
<!-- begin:: Header Topbar -->
<div class="kt-header__topbar">

	@{ Html.RenderPartial("partials/_header/topbar/_search"); }

	@{ Html.RenderPartial("partials/_header/topbar/_notifications"); }

	@{ Html.RenderPartial("partials/_header/topbar/_quick-actions"); }

	@{ Html.RenderPartial("partials/_header/topbar/_my-cart"); }

	@{ Html.RenderPartial("partials/_header/topbar/_quick-panel"); }

	@{ Html.RenderPartial("partials/_header/topbar/_languages"); }

	@{ Html.RenderPartial("partials/_header/topbar/_user"); }
</div>

<!-- end:: Header Topbar -->